.div {
  position: relative;
  top: 21px;
  left: 240px;
  white-space: pre-wrap;
}
.diaryCheckPopupChild,
.diaryCheckPopupItem {
  position: relative;
  top: 40px;
  left: 40px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-snow-100);
  width: 538px;
  height: 483px;
}
.diaryCheckPopupItem {
  top: 60px;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color-gray);
  height: 160px;
}
.diaryCheckPopupInner {
  position: relative;
  top: -590px;
  left: 99px;
  border-radius: var(--br-3xs);
  background-color: #d1c7b1;
  width: 420px;
  height: 47px;
}
.div1 {
  position: relative;
  top: -630px;
  left: 286px;
  color: var(--color-dimgray-300);
}
.polygonIcon {
  top: 21px;
  left: 21px;
  width: 26px;
  height: 26px;
  object-fit: contain;
}
.div2,
.icon,
.polygonIcon {
  position: relative;
}
.div2 {
  top: -180px;
  left: 101px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.icon {
  top: -401px;
  left: 388px;
  width: 225px;
  height: 329px;
  object-fit: cover;
}
.polygonIcon {
  top: -732px;
}
.diaryCheckPopup {
  position: relative;
  width: 618px;
  background-color: var(--color-linen-200);
  height: 765px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-200);
  font-family: var(--font-s-core-dream);
}
