.SummaryModal{
    top: -220px;
    left: -1px;
    position: relative;
    width: 453px;
    background-color: #d1c7b1;
    height: 130px;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    font-size: var(--font-size-base);
    color: var(--color-dimgray-200);
    font-family: var(--font-s-core-dream);
    border-radius: var(--br-3xs);
    overflow-y: auto;
}
